DATABASE_URL_PRIMARY=postgresql://postgres:postgres@localhost:5432/customer-service
# DATABASE_URL_REPLICA=postgresql://postgres:postgres@replica:5432/customer-service
KAFKA_BROKER=localhost:9092
PORT=3003
